.header{
	width: 500px;
	height: 200px;
	background-color: blue;
	background-image: url(../img/logo.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}
.bigSection{
	height: 300px;
	background-image: url(../img/logo.png); 
	background-position: center;
	background-attachment: fixed;
}