body {
	height: 100%;
	display: flex;
	flex-direction: column;
}


.headerfooter
{	height: 160px;
	margin:auto;
	background-color: #FEB700;
	display: flex;
	
}
.headerfooter h1 {
	font-size: 50px;
	text-transform: uppercase; 
	margin: 32px 0;
}
.headerfooter.head{
	justify-content: center;
}
.headerfooter.footer{
	justify-content: space-between;

}
.headerfooter.footer h1{
	margin-left: 3%;
	margin-right: 3%;
}

.main{
	width: 90vw;
	margin:auto;
	display: flex;
	justify-content: space-between;

}

.blocks{
	width: calc((100% - 180px)/3);
	border: 1px solid black;
	margin-top: 70px;
	margin-bottom: 70px;
	font-family: Times New Roman;
	font-size: 20px;
	text-align: left;
	line-height: 100%;


}
.image{
		background-size: cover;
		background-position: center;
		padding-bottom: 100%;
}

.image.one {
	background-image: url(../img/image1.png);
}
.image.two {
	background-image: url(../img/image2.png);
}

.image.three {
	background-image: url(../img/image3.png);
}


.blocks h1{
	font-weight: bold;
	margin: 30px 20px;
}

.blocks p, ul {
	margin: 25px 20px;