.header{
	font-size:100px;
}
.sectionName{
	background:	#8FBC8F;
	color: 	white;
	opacity: .7;
	text-shadow: 5px 5px #70a970;

}
.sectionName2{
	background:#E9967A;
	color: 	white;
	opacity: .5;
	text-shadow: 2px 2px #9a3918;


}