.block{
	width: 1020px;
	height: 980px;
	background-color: red;
}
.header-block-sitename{
	height: 95px;
	background-color: #51A5EF;
	text-transform:uppercase;
	line-height: 95px;
}

.header-block-pic {
	height: 280px;
	background-image: url("../img/pic.jpg");
}
.header-block-nav {
	height: 50px;
	background-color: #51A5EF;
	text-transform:uppercase;
	line-height: 50px;
}
.main-block-h1{
	height: 70px;
	text-transform:uppercase;
	line-height: 70px;
	background-color: white;
}

.main-block-info{
	height: 450px;
	background-color: white;
}

